body { 
	background-color: rgb(20,203,22);
}

#tabel-xo {
	margin-top: 20px;
	margin: auto;

	border: 1px solid black;
	border-collapse: collapse;
}

#tabel-xo tr td{
	width: 80px;
	height: 80px;
	border: 1px solid rgb(56, 53, 53);
	font-family: Helvetica;
	font-size: 30px;
	text-align: center;
}

#tabel-xo tr td:hover{
	background: rgb(214, 216, 0);
	cursor: pointer;
}

td {
	background: linear-gradient(60deg, green, yellow, green, yellow, green);
    background-clip: padding-box;
	color: rgb(0, 113, 12);
}

